<html>
    <head>
        <title>Pruebas HTML</title>
    </head>
    <body>
        <h1>USUARIOS</h1>
        <br>
        <h2>Busqueda</h2>
        <br>
        <form action="busqueda_usuario/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Rol</label>
            <input type="text" name="rol">
            <label>Contrasena</label>
            <input type="text" name="contrasena">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Crear</h2>
        <br>
        <form action="crear_usuario/" method="GET">
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Rol</label>
            <input type="text" name="rol">
            <label>Contrasena</label>
            <input type="text" name="contrasena">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Eliminar</h2>
        <br>
        <form action="eliminar_usuario/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Editar</h2>
        <br>
        <form action="editar_usuario/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Rol</label>
            <input type="text" name="rol">
            <label>Contrasena</label>
            <input type="text" name="contrasena">
            <input type="submit" value="enviar">
        </form>
        <hr>
        <br>
        <h1>CLIENTES</h1>
        <br>
        <h2>Busqueda</h2>
        <br>
        <form action="busqueda_cliente/" method="GET">
            <label>Cedula</label>
            <input type="text" name="cedula">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Crear</h2>
        <br>
        <form action="crear_cliente/" method="GET">
            <label>Cedula</label>
            <input type="text" name="cedula">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Eliminar</h2>
        <br>
        <form action="eliminar_cliente/" method="GET">
            <label>Cedula</label>
            <input type="text" name="cedula">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Editar</h2>
        <br>
        <form action="editar_cliente/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Cedula</label>
            <input type="text" name="cedula">
            <input type="submit" value="enviar">
        </form>
        <hr>
        <br>
        <h1>SEDE</h1>
        <br>
        <h2>Busqueda</h2>
        <br>
        <form action="busqueda_sede/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Direccion</label>
            <input type="text" name="direccion">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Crear</h2>
        <br>
        <form action="crear_sede/" method="GET">
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Direccion</label>
            <input type="text" name="direccion">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Eliminar</h2>
        <br>
        <form action="eliminar_sede/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Editar</h2>
        <br>
        <form action="editar_sede/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Nombre</label>
            <input type="text" name="nombre">
            <label>Direccion</label>
            <input type="text" name="direccion">
            <input type="submit" value="enviar">
        </form>
        <hr>
        <br>
        <h1>CAJA</h1>
        <br>
        <h2>Busqueda</h2>
        <br>
        <form action="busqueda_caja/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Noumero de Caja</label>
            <input type="text" name="numero_caja">
            <label>Tipo</label>
            <input type="text" name="tipo">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Crear</h2>
        <br>
        <form action="crear_caja/" method="GET">
            <label>Noumero de Caja</label>
            <input type="text" name="numero_caja">
            <label>Tipo</label>
            <input type="text" name="tipo">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Eliminar</h2>
        <br>
        <form action="eliminar_caja/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <input type="submit" value="enviar">
        </form>
        <br>
        <h2>Editar</h2>
        <br>
        <form action="editar_caja/" method="GET">
            <label>id</label>
            <input type="text" name="id">
            <label>Noumero de Caja</label>
            <input type="text" name="numero_caja">
            <label>Tipo</label>
            <input type="text" name="tipo">
            <input type="submit" value="enviar">
        </form>
        <hr>
        <br>
        <br>
        <h2>Crear Turno</h2>
        <br>
        <form action="crear_turno/" method="GET">
            <label>Tipo</label>
            <input type="text" name="tipo">
            <label>Cliente</label>
            <input type="text" name="cedula_cliente">
            <label>prioridad</label>
            <input type="text" name="prioridad">
            <input type="submit" value="enviar">
        </form>
        <br>
        <br>
        <h2>Buscar Turno</h2>
        <br>
        <form action="busqueda_turno/" method="GET">
            <label>codigo</label>
            <input type="text" name="codigo">
            <label>Tipo</label>
            <input type="text" name="tipo">
            <label>Cliente</label>
            <input type="text" name="cedula_cliente">
            <label>prioridad</label>
            <input type="text" name="prioridad">
            <input type="submit" value="enviar">
        </form>
        <br>
        <br>
        <h2>Pedir Turno</h2>
        <br>
        <form action="pedir_turno/" method="GET">
            <label>id</label>
            <input type="text" name="id_sede_caja">
            <label>Tipo</label>
            <input type="text" name="tipo">
            <input type="submit" value="pedir">
        </form>
        <br>
    </body>
</html>